<%- partial('../contest/sidebar') %>
<div id='content'>
    <div class='panel'>
        <div class='header'>
            <ol class='breadcrumb'>
                <li><a href='/'>主页</a><span class='divider'>/</span></li>

                <li class='active'>新建TOJ比赛</li>
            </ol>
        </div>


        <div class='inner'>
            <form id='create_contest' class='form-horizontal' action='/contests/create' method='post'>
                <div class='control-group'>
                    <label class='control-label' for='name'>Cid</label>
                    <div class='controls'>
                        <input class='input-xxlarge' id='cid' name='cid' size='30' type='text' value=""/>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='name'>比赛名称</label>
                    <div class='controls'>
                        <input class='input-xxlarge' id='name' name='name' size='30' type='text' value=""/>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='name'>开始时间</label>
                    <div class='controls'>
                        <input class='input-xxlarge' id='st_time' name='st_time' size='30' type='text' value=""/>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='name'>结束时间</label>
                    <div class='controls'>
                        <input class='input-xxlarge' id='ed_time' name='ed_time' size='30' type='text' value=""/>
                    </div>
                </div>
                <div class='control-group'>
                    <label class='control-label' for='name'>报名截止时间</label>
                    <div class='controls'>
                        <input class='input-xxlarge' id='deadline' name='deadline' size='30' type='text' value=""/>
                    </div>
                </div>
                <input type='hidden' name='_csrf' value=''/>
                <div class='form-actions'>
                    <input type='submit' class='span-primary submit_btn' data-loading-text="正在提交.." value='提交'/>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('#st_time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii:ss'
    });
    $('#ed_time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii:ss'
    });
    $('#deadline').datetimepicker({
        format: 'yyyy-mm-dd hh:ii:ss'
    });
</script>