<%- partial('../contest/sidebar') %>
<div id='content'>
    <div class='panel'>
        <div class='header'>
            <ol class='breadcrumb'>
                <li><a href='/'>主页</a><span class='divider'>/</span></li>

                <li class='active'>历史比赛</li>
            </ol>
        </div>


        <div class='inner'>
            <table class="table table-striped table-condensed table-hover">
                <tr>
                    <th>Cid</th>
                    <th>比赛名称</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>报名截止时间</th>
                    <th>报名人数</th>
                    <th>#</th>
                </tr>
                <% for (var i = 0;i < contests.length; ++i) { %>
                <tr>
                    <td><%= contests[i].cid %></td>
                    <td><a href="/contests/show/<%= contests[i].cid%>"><%= contests[i].name %></a></td>
                    <td><%= moment(contests[i].st_time).format('YYYY-MM-DD HH:mm:ss') %></td>
                    <td><%= moment(contests[i].ed_time).format('YYYY-MM-DD HH:mm:ss') %></td>
                    <td><%= moment(contests[i].deadline).format('YYYY-MM-DD HH:mm:ss') %></td>
                    <td><%= contests[i].reg_num %></td>
                    <% if (new Date() < contests[i].deadline) { %>
                    <td><a href="/contests/<%= contests[i].cid%>/submit"><button type="button" class="btn btn-success">报名</button></a></td>
                    <% } else { %>
                    <td><a href="/contests/<%= contests[i].cid%>/submit"><button type="button" class="btn btn-info">已截止</button></a></td>
                    <% } %>
                </tr>
                <% } %>
            </table>
        </div>
    </div>
</div>

