<div id='sidebar'>
    <div class='panel'>
        <div class='header'>
            <span class='col_fade'>关于</span>
        </div>
        <div class='inner'>

            <p>注意事项：</p>
            <ul>
                <li>比赛cid在TOJ中自增,请事先确定cid的值</li>
                <li>比赛信息一旦提交无法更改,请仔细检查</li>
            </ul>
        </div>
    </div>
    <div class="panel">
        <div class='inner'>
            <a href='/contests' id='create_code_btn'>
                <span class='span-primary'>历史比赛</span>
            </a>
            <a href='/contests/create' id='create_code_btn'>
                <span class='span-success'>新建比赛</span>
            </a>

        </div>
    </div>
</div>